extends layout
block body
  .deckBrowser(data-ng-cloak data-ng-controller="CCDeckBrowser as db")
    form
      label.radio-inline
        input(type="radio" data-ng-model="db.filter" data-ng-value="" name="optradio")
        | All
      label.radio-inline
        input(type="radio" data-ng-model="db.filter" data-ng-value="true" name="optradio")
        | Black
      label.radio-inline
        input(type="radio" data-ng-model="db.filter" data-ng-value="false" name="optradio")
        | White
    .deck
      table.table.table-condensed.table-striped.table-hover
        tr
          th Deck
          th Text
          th Black?
          th Choose number
        tr(data-ng-repeat="card in db.cards | filter: {isBlack:db.filter}")
          td {{card.name}}
          td {{card.text}}
          td {{card.isBlack}}
          td {{card.chooseNum}}
