//
   Created by AlWilliam on 3/5/2016.
extends layout
block body
  .game.col-lg-6.col-lg-offset-3(ng-controller="CCGame as ccmain")
    .lobby(ng-hide = "ccmain.game.status!==0")
      h1 #{lang.game.lobby}
      h1
      .users
        .user(ng-repeat="player in ccmain.players") {{player.User.name}} {{ccmain.player.User.id == player.User.id ? " <- That's you!" : ""}}
      .btn.btn-primary.btn-lg.btn-block(ng-show="ccmain.player.User.id==ccmain.game.HostId" ng-click="ccmain.startgame()") #{lang.game.startgame}
    .game-ongoing(ng-show = "ccmain.game.status!==0")
      .users
        .user(ng-repeat="player in ccmain.players") {{player.points}} - {{player.User.name}} ({{ccmain.getStatusText(player)}}) {{ccmain.player.User.id == player.User.id ? " <- That's you!" : ""}}
      .black-card
        | {{ccmain.blackCardText()}}
      .instruction {{ccmain.getInstructions()}}
      .white-cards
        a.btn.btn-block.white.white-card(ng-repeat="card in ccmain.cards" data-id="{{card.id}}" ng-click="ccmain.selectCard(card)" ng-disabled="!ccmain.canSelectCards()")
          | {{card.selected ? card.selected : ''}} {{card.text}}
        a.btn.btn-block(ng-show="ccmain.readyToSubmit()" ng-click="ccmain.selectCards()")
          | Confirm selection

prepend scripts
  script.
    var lobbycode = "!{code}";
  script(src="/socket.io/socket.io.js")
