//
   Created by AlWilliam on 3/5/2016.
extends layout

block body
  .game(ng-app="CardCzar" ng-cloak ng-controller="CCMainCtrl as ccmain")
    .lobby
      h1 #{lang.game.lobby}
      h1
      .users
        .user(ng-repeat="user in ccmain.users") {{user.name}}
      .btn.btn-primary.btn-lg #{lang.game.startgame}

block scripts
  script.
    var lobbycode = "!{code}";
  script(src="/bower_components/angular/angular.min.js")
  script(src="/js/app.js")
  script(src="/js/filters.js")
  script(src="/js/services.js")
  script(src="/socket.io/socket.io.js")
  script(src="/bower_components/angular-resource/angular-resource.min.js")
