//
   Created by AlWilliam on 3/5/2016.
extends layout

block body
  .game.col-lg-6.col-lg-offset-3(ng-app="CardCzar" ng-cloak ng-controller="CCMainCtrl as ccmain")
    .lobby(ng-hide = "ccmain.game.status!==0")
      h1 #{lang.game.lobby}
      h1
      .users
        .user(ng-repeat="user in ccmain.users") {{user.name}}
      .btn.btn-primary.btn-lg.btn-block(ng-show="ccmain.player.id==ccmain.game.HostId" ng-click="ccmain.startgame()") #{lang.game.startgame}
    .game(ng-show = "ccmain.game.status===1")
      .black-card
        |{{game.blackcard.text}}
      .instruction
      .white-cards
        .white-card(ng-repeat="card in ccmain.cards")
          |{{card.text}}

block scripts
  script.
    var lobbycode = "!{code}";
  script(src="/bower_components/angular/angular.min.js")
  script(src="/js/app.js")
  script(src="/js/filters.js")
  script(src="/js/services.js")
  script(src="/socket.io/socket.io.js")
  script(src="/bower_components/angular-resource/angular-resource.min.js")
