//
   Created by AlWilliam on 3/5/2016.
extends index

block body
  .game(ng-app="CardCzar" ng-cloak ng-controller="CCMainCtrl as ccmain")
    .lobby
      h1 {{ccmain.lobbycode}}
      h1 Lobby
      .users
        .user(ng-repeat="user in ccmain.users") {{user.name}}
      .btn.btn-primary.btn-lg Start Game

block scripts
  script(src="/bower_components/angular/angular.min.js")
  script(src="/js/app.js")
  script(src="/js/filters.js")
  script(src="/js/services.js")
  script