doctype html
head
  meta(charset="utf-8")
  title card czar
  link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
  link(href="/css/style.css" rel="stylesheet")
body
  h1 Hello, world!
  script(src="/bower_components/jquery/dist/jquery.min.js")
  script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
  script(src="/bower_components/angular/angular.min.js")
  script(src="/js/main.js")