//
   Created by AlWilliam on 3/5/2016.
extends index
block body
   .intro
      .container
         .col-lg-12
            h1 Card Czar
            p The mobile-friendly Cards Against Humanity clone you never asked for
            .row
               .col-lg-6
                  .input-group.input-group-lg
                     input.form-control#lobbycode(type="text" placeholder="Lobby Code")
                     span.input-group-btn
                        a.btn.btn-lg.btn-primary#joinlobby(href="/game") JOIN
            .row
               .col-lg-6
                  br
                  br
                  |or
                  br
                  br
                  .btn.btn-lg.btn-default(href="/game/new") Create your own lobby
   .footer.container
      | Made by Al William Tammsaar, Rasmus Saks and Janek Timmas
      br
      | Pointless links | map | some facebook page | some random ID card thing
block scripts
   script.
      $('#lobbycode').on('input propertychange paste',function(){
         console.log("Happened!");
         $('#joinlobby').attr("href","/game/"+$('#lobbycode').val());
      })