//
   Created by AlWilliam on 3/5/2016.
extends index
block body
   .intro
      .container
         .col-lg-12
            h1 Card Czar
            p The mobile-friendly Cards Against Humanity clone no one asked for


