//
   Created by AlWilliam on 3/5/2016.
extends layout

block body
  .login
    h1 #{lang.login.login}
    .btn.btn-default.btn-block
      a(href="/auth/facebook") Facebook
    .btn.btn-default.btn-block
      a(href="/auth/google") Google
    .btn.btn-default.btn-block Twitter
    .btn.btn-default.btn-block #{lang.login.banklink}
    .btn.btn-default.btn-block #{lang.login.mobileid}
