//
   Created by AlWilliam on 3/5/2016.
extends index

block body
   .login
      h1 Log in with
      .btn.btn-default.btn-block Facebook
      .btn.btn-default.btn-block Twitter
      .btn.btn-default.btn-block Google+
      .btn.btn-default.btn-block Bank Link
      .btn.btn-default.btn-block Mobile-ID