//
   Created by AlWilliam on 3/5/2016.
extends layout

block body
  include navbar
  .container
    .login
      .col-lg-6.col-lg-offset-3
        h1 #{lang.login.login}
        a.btn.btn-lg.btn-block(href="/auth/facebook?returnTo=" + encodeURIComponent(req.query.returnTo)) Facebook
        a.btn.btn-lg.btn-block(href="/auth/google?returnTo=" + encodeURIComponent(req.query.returnTo)) Google
        a.btn.btn-lg.btn-block.disabled Twitter
        a.btn.btn-lg.btn-block.disabled #{lang.login.banklink}
        a.btn.btn-lg.btn-block.disabled #{lang.login.mobileid}
      
  footer
    .container
      p
        | #{lang.landing.authors}
        br
        //| Pointless links | map | some facebook page | some random ID card thing
