//
   Created by AlWilliam on 3/5/2016.
extends layout

block body
  .login
    h1 #{lang.login.login}
    a.btn.btn-default.btn-block(href="/auth/facebook") Facebook
    a.btn.btn-default.btn-block(href="/auth/google") Google
    a.btn.btn-default.btn-block(disabled) Twitter
    a.btn.btn-default.btn-block(disabled) #{lang.login.banklink}
    a.btn.btn-default.btn-block(disabled) #{lang.login.mobileid}
