cc-black = #191919
cc-white = #f7f7f7
h1
  font-size 30pt
html
  position relative
  min-height 100%
footer
  position absolute
  bottom 0
  padding 10px 0
  width 100%
  background-color cc-black
  color cc-white

body
  font-family "pragmatica-web","Helvetica Neue",Arial,sans-serif
  font-size 16px
  line-height 1.42857143
  background-color cc-white
  color cc-black
  margin-bottom 60px
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display none !important;

.navbar
  background-color cc-black
  color cc-white
  border-radius 0
  .navbar-brand
    font-weight 600
    height 80px
    padding 20px 20px
    font-size 40px
    line-height 40px
    color cc-white
  .navbar-toggle
    border 3px solid cc-white
    border-radius 0
    margin-top 20px
    margin-bottom 20px
    .icon-bar
      background-color cc-white
  .navbar-btn
    border-radius 0
    background-color cc-black
    color cc-white
    font-weight 600
    min-width 90px
    margin-left 3px
    margin-right 3px
    &:hover
      color cc-black
      background-color cc-white

.btn
  border-radius 0
  background-color cc-black
  color cc-white
  font-weight 600
  border none
  &.invert
    box-shadow: inset 0 0 0 3px cc-white
    &:hover
      box-shadow: inset 0 0 0 3px cc-white
  &:hover
    color cc-black
    background-color cc-white
    box-shadow: inset 0 0 0 3px cc-black

.navbar-text
  margin-top 29px
  margin-bottom 29px
  #user
    font-weight 600
.form-control
  border 3px solid cc-black
  border-right none

.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn
  border-radius 0

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group
  margin-right -1px