
cc-black = #191919
cc-white = #f7f7f7
h1
  font-size 30pt
html
  position relative
  min-height 100%
footer
  position absolute
  bottom 0
  padding 10px 0
  width 100%
  background-color cc-black
  color cc-white

body
  font-family "pragmatica-web","Helvetica Neue",Arial,sans-serif
  font-size 16px
  line-height 1.42857143
  background-color cc-white
  color cc-black
  margin-bottom 60px
[data-ng-cloak], .ng-cloak, .x-ng-cloak
  display none !important;

.navbar
  background-color cc-black
  color cc-white
  border-radius 0
  .navbar-brand
    font-weight 600
    height 80px
    padding 20px 20px
    font-size 40px
    line-height 40px
    color cc-white
  .navbar-toggle
    border 3px solid cc-white
    border-radius 0
    margin-top 20px
    margin-bottom 20px
    .icon-bar
      background-color cc-white
  .navbar-btn
    min-width 90px
    margin-left 3px
    margin-right 3px
    margin-top 15px
    margin-bottom 15px
  .navbar-text
    a
      cursor pointer
      color cc-white
      &:hover
        color cc-white

.btn
  border-radius 0
  background-color cc-black
  color cc-white
  font-weight 600
  border none
  transition all 0.2s cubic-bezier(0.23, 0.04, 0.22, 1)
  &.invert
    box-shadow: inset 0 0 0 3px cc-white
    &:hover
      box-shadow: inset 0 0 0 3px cc-white
  &.white
    background-color cc-white
    color cc-black
  &:hover
    color cc-black
    background-color cc-white
    box-shadow: inset 0 0 0 3px cc-black


.landing-button-adjustment
  margin-top 5px
  margin-bottom 5px

.navbar-text
  margin-top 29px
  margin-bottom 29px
  #user
    font-weight 600
.form-control
  border 3px solid cc-black
  border-right none

.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn
  border-radius 0

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group
  margin-right -1px

.game-ongoing
  .users
    padding 20px
  .instruction
    text-align center
    padding 20px
    padding-top 10px
  .black-card
    width 100%
    padding 20px
    font-size 20px
    font-weight 600
    margin-bottom 10px
    text-align center
    background-color cc-black
    color cc-white
  .white-card
    font-size 20px
    border solid 1px #9b9b9b
    padding 15px
    white-space normal

mobile-fix()
  h1
    margin-top 10px
  .game-ongoing
    .white-card
      text-align left
  .navbar
    .navbar-brand
      font-size 20px
      line-height 20px
      font-weight 600
      height 45px
      padding 5px 5px
      margin-top 15px
      color cc-white
    .navbar-toggle
      margin-right 0
      border 3px solid cc-white
      border-radius 0
      margin-top 10px
      margin-bottom 10px
      .icon-bar
        background-color cc-white

@media screen and (max-device-width: 360px)
  mobile-fix()

@media screen and (device-width: 360px) and (device-height: 640px)
  mobile-fix()